<div class="row">
  <div class="col-md-6 ml-auto mr-auto">
    <div class="card-body">
    </div>
    <div>
      <a href="/" class="btn btn-warning"><i class="material-icons">home</i> Dashboard</a>
      <a href="/logout" class="btn btn-danger"><i class="material-icons">close</i> logout</a>
    </div>
  </div>
</div>