<!-- Sidebar menu-->
<div class="wrapper ">
	<div class="sidebar" data-color="orange" data-background-color="black" data-image="../assets/img/sidebar-1.jpg">
		<div class="logo">
			<a href="https://www.pizzigoni.eu/ap/" class="simple-text logo-mini">
				Ad
			</a>
			<a href="https://www.pizzigoni.eu/ap/" class="simple-text logo-normal">
				Admin System
		</div>
		<div class="sidebar-wrapper">
			<div class="user">
				<div class="photo">
					<img src="../assets/img/faces/avatar.jpg" />
				</div>
				<div class="user-info">
					<a data-toggle="collapse" href="#collapseExample" class="username">
						<span>
							Jas
							<b class="caret"></b>
						</span>
					</a>
					<div class="collapse" id="collapseExample">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="#">
									<span class="sidebar-mini"> MP </span>
									<span class="sidebar-normal"> My Profile </span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<span class="sidebar-mini"> EP </span>
									<span class="sidebar-normal"> Edit Profile </span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<ul class="nav">
				<li class="nav-item active ">
					<a class="nav-link" href="/">
						<i class="material-icons">dashboard</i>
						<p> Dashboard </p>
					</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" data-toggle="collapse" href="#pagesExamples">
						<i class="material-icons">image</i>
						<p> Pages
							<b class="caret"></b>
						</p>
					</a>
					<div class="collapse" id="pagesExamples">
						<ul class="nav">
							<li class="nav-item ">
								<a class="nav-link" href="./sheets/HaProxyDash">
									<span class="sidebar-mini"> HA </span>
									<span class="sidebar-normal"> HaProxy-Mysql </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="./sheets/HaProxyDashW">
									<span class="sidebar-mini"> HW </span>
									<span class="sidebar-normal"> HaProxy-Web </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="./sheets/netdata">
									<span class="sidebar-mini"> Net </span>
									<span class="sidebar-normal"> Netdata monitor </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="login">
									<span class="sidebar-mini"> LP </span>
									<span class="sidebar-normal"> Login Page </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="./pages./examples/pages/register.html">
									<span class="sidebar-mini"> RP </span>
									<span class="sidebar-normal"> Register Page </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="lock">
									<span class="sidebar-mini"> LSP </span>
									<span class="sidebar-normal"> Lock Screen Page </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="./pages./examples/pages/user.html">
									<span class="sidebar-mini"> UP </span>
									<span class="sidebar-normal"> User Profile </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="error">
									<span class="sidebar-mini"> E </span>
									<span class="sidebar-normal"> Error Page </span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="nav-item ">
					<a class="nav-link" data-toggle="collapse" href="#componentsExamples">
						<i class="material-icons">apps</i>
						<p> Input Form
							<b class="caret"></b>
						</p>
					</a>
					<div class="collapse" id="componentsExamples">
						<ul class="nav">
							<li class="nav-item ">
								<a class="nav-link" data-toggle="collapse" href="#componentsCollapse">
									<span class="sidebar-mini"> MLT </span>
									<span class="sidebar-normal"> Multi Level Collapse
										<b class="caret"></b>
									</span>
								</a>
								<div class="collapse" id="componentsCollapse">
									<ul class="nav">
										<li class="nav-item ">
											<a class="nav-link" href="#0">
												<span class="sidebar-mini"> E </span>
												<span class="sidebar-normal"> Example </span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="../examples/components/buttons.html">
									<span class="sidebar-mini"> B </span>
									<span class="sidebar-normal"> Buttons </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="../examples/components/grid.html">
									<span class="sidebar-mini"> GS </span>
									<span class="sidebar-normal"> Grid System </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="../examples/components/panels.html">
									<span class="sidebar-mini"> P </span>
									<span class="sidebar-normal"> Panels </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="../examples/components/sweet-alert.html">
									<span class="sidebar-mini"> SA </span>
									<span class="sidebar-normal"> Sweet Alert </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="bolli/addBolli">
									<span class="sidebar-mini"> AB </span>
									<span class="sidebar-normal"> Add Bolli </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="users">
									<span class="sidebar-mini"> U </span>
									<span class="sidebar-normal"> Users </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="post">
									<span class="sidebar-mini"> P </span>
									<span class="sidebar-normal"> Posts </span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="nav-item ">
					<a class="nav-link" data-toggle="collapse" href="#formsExamples">
						<i class="material-icons">content_paste</i>
						<p> Forms
							<b class="caret"></b>
						</p>
					</a>
					<div class="collapse" id="formsExamples">
						<ul class="nav">
							<li class="nav-item ">
								<a class="nav-link" href="../examples/forms/regular.html">
									<span class="sidebar-mini"> RF </span>
									<span class="sidebar-normal"> Regular Forms </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="../examples/forms/extended.html">
									<span class="sidebar-mini"> EF </span>
									<span class="sidebar-normal"> Extended Forms </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="../examples/forms/validation.html">
									<span class="sidebar-mini"> VF </span>
									<span class="sidebar-normal"> Validation Forms </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="../examples/forms/wizard.html">
									<span class="sidebar-mini"> W </span>
									<span class="sidebar-normal"> Wizard </span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="nav-item ">
					<a class="nav-link" data-toggle="collapse" href="#tablesExamples">
						<i class="material-icons">grid_on</i>
						<p> Tables
							<b class="caret"></b>
						</p>
					</a>
					<div class="collapse" id="tablesExamples">
						<ul class="nav">
							<li class="nav-item ">
								<a class="nav-link" href="bolli/tbBolli">
									<span class="sidebar-mini"> BO </span>
									<span class="sidebar-normal"> Table Bolli </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="bolli/tbBolliImg">
									<span class="sidebar-mini"> BO </span>
									<span class="sidebar-normal"> Image Bolli </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="customers/tbCustomers">
									<span class="sidebar-mini"> C </span>
									<span class="sidebar-normal"> Table Customers </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="https://www.pizzigoni.eu/ap/admin">
									<span class="sidebar-mini"> AU </span>
									<span class="sidebar-normal"> Auction Dashboard </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="bolli/jplist">
									<span class="sidebar-mini"> JP </span>
									<span class="sidebar-normal"> JP list </span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="nav-item ">
					<a class="nav-link" data-toggle="collapse" href="#mapsExamples">
						<i class="material-icons">place</i>
						<p> Maps
							<b class="caret"></b>
						</p>
					</a>
					<div class="collapse" id="mapsExamples">
						<ul class="nav">
							<li class="nav-item ">
								<a class="nav-link" href="pages/map">
									<span class="sidebar-mini"> GM </span>
									<span class="sidebar-normal"> Google Maps </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="pages/full-screen">
									<span class="sidebar-mini"> FSM </span>
									<span class="sidebar-normal"> Full Screen Map </span>
								</a>
							</li>
							<li class="nav-item ">
								<a class="nav-link" href="pages/vectorMap">
									<span class="sidebar-mini"> VM </span>
									<span class="sidebar-normal"> Vector Map </span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="pages/file">
						<i class="material-icons">widgets</i>
						<p> File </p>
					</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="pages/get-images">
						<i class="material-icons">images</i>
						<p> images </p>
					</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="pages/galleria">
						<i class="material-icons">date_range</i>
						<p> Gallery </p>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- Sidebar menu - end-->