<body class="">
    <link href="../assets/dist/css/bootstrap/tabulator_bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../assets/dist/js/tabulator.min.js"></script>
    <section class="main-content">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Customers Table</h4>
                                <p class="card-category"> Here is a list of all customers</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <div id="table-customers"></div>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script language="javascript">
            //Create Date Editor
            Tabulator.prototype.extendModule("edit", "editors", {
                uppercaseInput: function (cell, onRendered, success, cancel, editorParams) {

                    //create and style input
                    var cellValue = cell.getValue().toUpperCase(),
                        input = document.createElement("input");

                    input.setAttribute("type", "text");

                    input.style.padding = "4px";
                    input.style.width = "100%";
                    input.style.boxSizing = "border-box";

                    input.value = cellValue;

                    onRendered(function () {
                        input.focus();
                        input.style.height = "100%";
                    });

                    function onChange(e) {
                        if (input.value != cellValue) {
                            success(input.value.toUpperCase());
                        } else {
                            cancel();
                        }
                    }

                    //submit new value on blur or change
                    input.addEventListener("change", onChange);
                    input.addEventListener("blur", onChange);

                    //submit new value on enter
                    input.addEventListener("keydown", function (e) {
                        if (e.keyCode == 13) {
                            success(input.value);
                        }

                        if (e.keyCode == 27) {
                            cancel();
                        }
                    });

                    return input;
                },
            });

            //Build Tabulator
            var table = new Tabulator("#table-customers", {
                height: 625, // set height of table (in CSS or here),
                layout: "fitColumns", //fit columns to width of table (optional)
                responsiveLayout: "hide",  //hide columns that dont fit on the table
                clipboard: true,
                tooltips: true,            //show tool tips on cells
                addRowPos: "top",          //when adding a new row, add it to the top of the table
                history: true,
                pagination: "local",
                paginationSize: 25,
                movableColumns: true,
                columns: [
                    { title: "ID", field: "custID", width: 15, editor: "input" },
                    { title: "name", field: "name", editor: "input" },
                    { title: "Address", field: "address", align: "left", editor: "input" },
                    { title: "City", field: "City", align: "left", editor: "input" },
                    { title: "email", field: "email", align: "left", editor: "input" },
                    { title: "Workphone", field: "Workphone", align: "left", editor: "input" },
                    { title: "Note", field: "Note", align: "left", editor: "input" },
                    { title: "active", field: "active", align: "center", editor: "select", editorParams: { values: ["0", "1"] } }
                ],
            });

            table.setData('/api/customers/customers');
           
        </script>
        <% include partials/page-end %>
        <% include partials/footer %>
        <% include partials/plugbar %>
        <% include partials/post-footer %>
</body>