<!-- Photos upload Form -->
<form id="upload-photos" method="post" action="/upload_photos" enctype="multipart/form-data">
    <div class="form-group">
        <label for="photos-input">File input</label>
        <input id="photos-input" type="file" name="photos[]" multiple="multiple" >
        <p class="help-block">You can upload up to 3 files.</p>
    </div>
    <input type="hidden" name="csrf_token" value="just_a_text_field" />
    <input class="btn btn-default" type="submit" name="Photo Uploads" value="Upload Photos" />
</form>