<body>
    <% include partials/jp/header %>
    <!-- black top bar -->
    <div class="box" id="black-top-bar">
        <div class="center">
            <div class="box">

                <!-- left menu -->
                <ul class="hmenu left iphone-hidden" id="black-top-bar-left-menu">
                    <li><a href="https://www.pizzigoni.eu/ap/contact" title=""><i class="fa fa-asterisk"></i> Request a
                            feature / <i class="fa fa-bug"></i> Report a
                            bug</a></li>
                </ul>

                <!-- header -->
                <header class="box" id="header">
                    <div class="box" id="header-box">
                        <div class="center">
                            <div class="box">

                                <!-- logo -->
                                <div id="logo" class="left">
                                    <img src="../assets/images/common/rocket.png" alt="jPList - Data Grid" />
                                    <a href="/" title="">Image Picker </a>
                                </div>

                                <!-- main navigation -->
                                <ul class="default-menu hmenu right" id="top-menu">
                                    <li><a title="" href="mailto:teone1969@@gmail.com"><i class="fa fa-envelope"></i>
                                            Contacts</a></li>
                                    <li><a title="" href="mailto:admin@pizzigoni.net" class="orange"><i
                                                class="fa fa-coffee"></i> Freecoffee</a></li-->
                                </ul>

                            </div>
                        </div>
                    </div>
                </header>

                <!-- main content -->
                <div class="box">
                    <div class="center">
                        <div class="box">

                            <!-- tabs navigation -->
                            <ul class="default-menu hmenu box">

                                <li>
                                    <a title="" href="/"><i class="fa fa-home"></i> Project Home <i
                                            class="fa fa-external-link"></i></a>
                                </li>
                                <li>
                                    <a title="" href="http://jplist.com/home/download" class="orange"><i
                                            class="fa fa-download"></i>
                                        Download <i class="fa fa-external-link"></i></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <% include partials/jp/placeholder %>

                <!-- footer -->
                <footer class="box" id="footer">
                    <div class="center">

                        <!-- footer bottom row -->
                        <% include partials/page-end %>
</body>