<!--footer-->
<footer class="footer">
	<div class="container-fluid">
		<nav class="float-left">
			<ul>
				<li>
					<a href="https://www.pizzigoni.eu">
						Pizzigoni Admin System
					</a>
				</li>
				<li>
					<a href="https://www.pizzigoni.eu/ap/project/resources/views/doc/staff.php">
						About Us
					</a>
				</li>
			</ul>
		</nav>
		<div class="copyright float-right">
			&copy;
			<script>
				document.write(new Date().getFullYear())
			</script>, made with <i class="material-icons">favorite</i> by
			<a href="https://www.pizzigoni.eu" target="_blank">tt69</a> for a Pizzigoni Auction.
		</div>
	</div>
</footer>
</div>
</div>
<!-- End Footer-->